body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  font-family: "Comfortaa", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

#carousel{
  max-height: 500px;

}

.footer-text {
  font-size: 1rem;
  color: white;
}

.user-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #00c9ff, #92fe9d, #a8e063);
}

.user-form .container {
  border: 2px solid white; 
  padding: 20px;
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  margin-top: -20vh;
  background-color: #bce2ed;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 10001;
}

.user-form .container .form-control{
  font-size: 1.3rem;
  font-weight: bold;
}

.user-form .container .form-control::placeholder {
  color: grey; 

}

.navbar .btn1{
  background-color: white;
  font-weight: bold;
  color: #198754;
  transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.navbar .btn1:hover{
  background-color: red;
  color: white;
  transform: scale(1.1);
}

.addBtn {
  background-color: #198754;
  color: white; 
  transition: background-color 0.3s, color 0.3s, transform 0.5s; 
  padding: 0.8rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
}



.selectBtn{
  padding: 4px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 
  font-weight: bold;
  color: white;
  background-color: #198754;
  border: none;
}

.carousel-inner .form-control{
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}
.carousel-inner .form-control::placeholder{
  color: grey;
  font-weight: bold;
  font-size: 1.3rem;
}

.user-form .out-box{
  /* border: 2px solid red; */
  /* padding: 20px; */
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.user-form .in-box{
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: #bce2ed;
}

.user-form .out-box::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 2000px;
  width: 200px;
  background-color: white;
  animation: move 1.75s infinite;
  
}

@keyframes move {
  100%{
    transform: translate(-50%, -50%) rotate(225deg);
  }
}